*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html{/* document style*/
    width: 100%;
    height: 100%;
    font-size: 90%;
    display: block;
    position: relative;
}
body{
    width: 100%;
    height: 100%;
    display: block;
    overflow-x: hidden;
    position: relative;
}
body{
    background: #eee;
    background-origin: 9px;
    min-height: 100%;
    line-height: 1.8;
    color: black;
    left: 0px;
    overflow-x: hidden;
}
::selection{
    background: rgba(27 , 97 ,154 ,0.5);
    color: #fff;
}
/* new */
.bold:active , .bold:hover , .bold:focus , .nav-tabs > .active{
    color: #777;
    background: lightblue;
}
.bold{
    color: blue;
    cursor: pointer
}
.bold-family{
    font-family: 'Times New Roman', Times, serif
}
/*navbar*/
.top-nav-collapse {
    background-color: #24355C;
}
.navbar .nav-item .nav-link {
 color: #fff;
}
.text-nav{
    font-weight: 500;
    color:rgb(27 , 97 , 154 );
}

#main-nav li:hover .sub-menu {
  display: block;
}
#main-nav li .sub-menu {
  width: 210px;
  min-width: 190px;
  background-color: #616368;
  text-align: left;
  display: none;
}
/*	Main Nav */

#main-nav li .sub-menu:before {
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 20px solid rgba(27 , 97 ,154 ,0.8);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  top: -34px;
  left: 20px;
  z-index: -1;
}


/*alert send message for submit to database*/
.alert{
    display: none;
}
/*input textarea*/
.input , .textarea{
    outline: none;
    border-style: none none solid none;
    color: black;
}
/*z-indent*/
.indent{
    margin-left: 10px;
    text-indent:10px;
    /*font-weight: bold;*/
    font-size: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*z-indent*/
.ind{
    text-indent: -200px
}
/*z-indent*/
.indent1{
    text-indent: 20px;
    /*font-weight: bold;*/
    /*font-size: 110%;*/
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}
/*clear float*/
.clear{
    clear: both;
}
/*globally img*/
img{
    outline: none;
    border: none;
}
/* class margine*/
.margine{
    margin: 20px 0px;;
}
/*background - color off-white*/
.maybee{
    background:rgb(247 , 247 , 247);
}
/*background - color off-white k DIV sath padding or overflow font-family */
.maybee div{
    padding: 10px 10px;
    overflow:hidden; 
    font-family: Arial, Helvetica, sans-serif;
}
/*background - color off-white  ke sath padding or center text*/
.maybee1{
    padding: 20px;
    text-align: center;
}
.maybee1 div{
    padding: 0px 5px;
    /*max-height:490px;*/
    overflow:hidden; 
    /*background:rgb(247 , 247 , 247);*/
    font-family: Arial, Helvetica, sans-serif;
}
/*background volor dark-grey class box */
.box>h1 , .box>h2 , .box>h3 , .box>h4 , .box>h5 , .box>h6{
    text-align: center;
    color: rgba(27 , 97 ,154 , 0.8);
    text-shadow: 0px 0px 1px rgb(27 , 97 ,154 );

}
/*box*/
.box{
    color: rgb(90 ,90 ,90);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}
.box1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgba(10 , 10, 10 , 0.3);
    color: #fff;
    
}
/*navbar drop down item*/
.anu:hover{
    text-indent: 4px;
    color: #fff;
    background:rgb(27 , 97 ,154 ); 
}
.anu{
    color: #fff;
}
/*text-decoration none*/
.a-space , a:hover{
    text-decoration: none;
}
/*footer*/
.foot:hover{
    text-indent: 4px;
    /*border-radius: 1%;*/
    /*background: rgba(27 , 97 ,154 , 0.5)*/
}
footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer a:hover{
    color: #fff;
    font-size: bold;
}
footer .foo{
    line-height: 2em;
    /*margin-top: 40px;*/
    color: rgb(199,199,188)
}
footer .foo:hover{
    color: #fff;
}
/*navbar active*/
li.active{
    border-bottom: 1px solid #fff;
    font-weight: bold;
}
li.active-d{
    border-bottom: 1px solid rgba(27 , 97 ,154 ,1);
    font-weight: bold;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*nth child of carrer*/
.nth:nth-child(even):hover, .boxes:hover{
    /*padding: 5px 10px 0px 10px;*/
    background: rgb(204, 204 , 204);
}
.nth:nth-child(even){
    background: rgb(247 , 247 , 247);
}
.boxes1{
    background: rgb(247 , 247 , 247);
}
.text{
    color: #fff;
    background: rgba(7 , 53 , 89, 0.8);
}

.z-depth::selection{
    background: none;
    color: black;
}
.z-depth{
    font-weight: 400;
    outline: none;
    border: none;
    cursor: initial;
    text-shadow: 0px 0px 0px #111;
}
.eventCenter div img{
    margin-bottom: 10px;
}
.eventCenter div{
    border-bottom: 2px solid #bbb;
    color: #444;
    padding: 10px 6px 5px 6px ;
}
.eventCenter{
    background: #ddd;
}
.my-contact a b{
    color: black;
}
nav ul li .text-nav{
    font-weight: 500;
    color:rgb(27 , 97 , 154 );
}
.text:hover , .text:active{
    color: #fff;
    background: rgb(7 , 53 , 89);
}
.white1{
    color: rgba(27 , 97 ,154 , 0.8);
}
.white1:hover , .white1:active{
    color: rgba(27 , 97 ,154 , 0.8);
}
.whitee{
    color: rgb(27 , 97 ,154 );
}
.card-header{
    background: #fff;
    
}
.li{
    list-style-position: outside
}
.a100{
    width: 100%;
    padding: 24px;
}
.b100{
    margin: 0 auto;
    width: 100%;
    height: 135px;
}
.c100{
    padding: 20px auto;
}
.auto{
    margin: 0 auto;
}
.borderUB{
    border-bottom: 2px solid rgb(27 , 97 ,154 );
    border-top: 2px solid rgb(27 , 97 ,154 );
    padding: 10px;
    color: rgb(27 , 97 ,154 );
}
header div:hover, div:active{
    color:rgb(27 , 97 ,154 );
}
.bigone {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}
section {
  position: relative;
}
.bg-nav-color-b{
    background-color:#fff;opacity:0.97;
    box-shadow: 0px 2px 2px rgba(359 , 359 ,359, 0.9 );
}
.bg-nav-color {
    background-color:rgba(27 , 97 , 154 , 1);
    box-shadow: 0px 2px 2px rgba(27 , 97 ,154, 0.9 );
}
.dnd-banner-1{
     background-image: url('images/dnd-banner-1.jpg');
}
.dnd-banner-2{
    background-image: url('images/dnd-banner-2.jpg');
}
.dnd-banner-3{
    background-image: url('images/dnd-banner-3.jpg');
}
.dnd-banner-4{
    background-image: url('images/dnd-banner-4.jpg');
}
.dnd-banner-5{
    background-image: url('images/dnd-banner-5.jpg');
}
.dnd-banner-6{
     background-image: url('images/dnd-banner-6.jpg');
}
.transport-1{
    background: url("images/construction/transport-1.jpg")no-repeat center center fixed;
    background-size: cover;
}
.transport-2{
    background: url("images/construction/transport-2.jpg")no-repeat center center fixed;
    background-size: cover;
}
.transport-3{
    background: url("images/construction/transport-3.jpg")no-repeat center center fixed;
    background-size: cover;
}
.transport-4{
    background: url("images/construction/transport-4.jpg")no-repeat center center fixed;
    background-size: cover;
}
.transport-5{
    background: url("images/construction/transport-5.jpg")no-repeat center center fixed;
    background-size: cover;
}
.transport-6{
    background: url("images/construction/transport-6.jpg")no-repeat center center fixed;
    background-size: cover;
}
.construction-1{
    background: url("images/construction/documintation1.jpg")no-repeat center center fixed;
    background-size: cover;
}
.construction-2{
    background: url("images/construction/construction.jpg")no-repeat center center fixed;
    background-size: cover;
}
.construction-3{
    background: url("images/construction/homeMap.jpg")no-repeat center center fixed;
    background-size: cover;
}
.construction-4{
    background: url("images/construction/property.jpg")no-repeat center center fixed;
    background-size: cover;
}
.construction-5{
    background: url("images/construction/sales.jpg")no-repeat center center fixed;
    background-size: cover;
}
.construction-6{
    background: url("images/construction/realstate.jpg")no-repeat center center fixed;
    background-size: cover;
}
.construction-7{
    background: url("images/construction/company.jpg")no-repeat center center fixed;
    background-size: cover;
}
.dnd-events-1{
    background: url(images/dnd-events-1.jpg)no-repeat center center fixed;
    background-size: cover;
}
.dnd-events-2{
    background: url(images/dnd-events-2.jpg)no-repeat center center fixed;
    background-size: cover;
}
.dnd-construction-1{
    background: url(images/dnd-construction-1.jpg)no-repeat center center fixed;
    background-size: cover;
}
.dnd-map-1{
    background: url(images/banner1.jpg)no-repeat center center fixed;
    background-size: cover;
}
.dnd-map-2{
    background: url(images/banner2.jpg)no-repeat center center fixed;
    background-size: cover;
}
.dnd-map-3{
    background: url(images/banner3.jpg)no-repeat center center fixed;
    background-size: cover;
}
.dnd-map-4{
    background: url(images/banner4.jpg)no-repeat center center fixed;
    background-size: cover;
}
.dnd-map-5{
    background: url(images/banner5.jpg)no-repeat center center fixed;
    background-size: cover;
}
.list-style-circle > li{
    list-style-type: square;
    list-style-position: inside;
    /* color: black */
}



.obu{
    opacity: 0.8;
    background: rgb(7 , 53 , 89);
    font-size: 200%;
}
.banner-case-0{
    background: url(images/home/banner-map-0.jpg)no-repeat center center fixed;
    background-size: cover;
}
.banner-case-1{
    background: url(images/home/banner-map-1.jpg)no-repeat center center fixed;
    background-size: cover;
}
.banner-case-2{
    background: url(images/home/banner-map-2.jpg)no-repeat center center fixed;
    background-size: cover;
}
.banner-case-3{
    background: url(images/home/banner-map-3.jpg)no-repeat center center fixed;
    background-size: cover;
}
.banner-case-4{
    background: url(images/home/banner-map-4.jpg)no-repeat center center fixed;
    background-size: cover;
}
.banner-case-5{
    background: url(images/home/banner-map-5.jpg)no-repeat center center fixed;
    background-size: cover;
}
.banner-case-6{
    background: url(images/home/banner-map-6.jpg)no-repeat center center fixed;
    background-size: cover;
}
.banner-documintation{
    background: url(images/banner-documintation.jpg)no-repeat center center fixed;
    background-size: cover;
}
.bg-grey{
    background: #fbfbfb;
}

.banner-sales-1{
    background: url(images/banner-sales-1.jpg)no-repeat center center fixed;
    background-size: cover;
}
.banner-sales-2{
    background: url(images/banner-sales-2.jpg)no-repeat center center fixed;
    background-size: cover;
}
.banner-sales-3{
    background: url(images/banner-sales-3.jpg)no-repeat center center fixed;
    background-size: cover;
}
.banner-sales-4{
    background: url(images/banner-sales-4.jpg)no-repeat center center fixed;
    background-size: cover;
}
.banner-sales-5{
    background: url(images/banner-sales-5.jpg)no-repeat center center fixed;
    background-size: cover;
}
.banner-sales-6{
    background: url(images/banner-sales-6.jpg)no-repeat center center fixed;
    background-size: cover;
}
.bg-fixed{
     background-attachment: fixed;
}
/*services*/
.pb-20{
    padding:20px;
}
.bg-footer-color{
    background:rgba(58 ,58 ,58 , 1);
}
.carrers1 , .carrers1 input:focus, .carrers1 input:hover, .carrers1 input{
    color: white
}
.form-control{
    outline: none;
    border-style: none  none solid none;
}
.h-30{
    height:30px;
}
.img-width{
    width:55px;
}
.text-left{
    text-align:left;
    
}
.text-bold{
    font-style: bold;
}
.carrer-css{
    background:rgb(213 , 13 , 16); padding:10px 15px 1px 15px; font-size:80%; border-radius:1%;
}
.bg-color-grey{
    background: rgb(246 , 246 , 246); 
}
.salesPurchase{
    padding:30px; 
    position: relative;
}
.salesPurchase p{
    color: #030;
    /*padding-bottom: 0px;*/
}
.salesPurchase li {
    /*list-style-image: url("images/rightSignOn.png") ;*/
    /*list-style-image-size: 2px;*/
    list-style: outside square;
    color: #030
}
.salesPurchase h4{
    /*color: rgb(80, 180, 80);*/
    color: rgb(60, 140, 60);
}
.salesPurchase h3{
    color: green;
}
.salesPurchase h1, .salesPurchase h2{
    font-weight: 600;
    color: black;
}
.salesPurchase{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    background: rgb(242,242,252);
}
.side-bar{
    position:static;
    height: 400px;
    overflow: auto
}
.mini-circle:hover{
    color: rgb(7 , 53 , 89);
    outline:none;
}
.mini-circle{
    background: #fff;
    color: rgb(27 , 97 ,154 );
    font-size: 22px;
    font-weight: 400;
    padding: 8px;
    margin-bottom: 5px;
    border: 2px solid #fff;
    border-radius: 100px;
    outline:none;
}
.circle:hover{
    background: #ddd;
    color: rgb(7 , 53 , 89);
    outline:none;
}
.circle{
    font-size: 26px;
    background: #fff;
    padding: 25px;
    margin-bottom: 5px;
    border: 2px solid #fff;
    border-radius: 100px;
    color: rgb(27 , 97 ,154 );
    outline:none;
}
.border-left{
    border-left:2px solid rgba(27 , 97 ,154 , 0.8); 
}
/*.mysql{
     
}*/
.xxx:hover{
    background: #888
}
.xxx{
    font-size: 90%;
    border-top:2px outset #555;
    background: #999;
    color: #eee;
}
.xxx a{
        color: #eee;    
    }
@media (max-width: 575px) {
  .collapse{
    max-width: 576px;
    position: relative;
    height: 570px;
    overflow: auto;
  }
  .navbar-logo > img{
    width: 60%;
}
}
@media (max-width: 201px) {
  .collapse{
    max-width: 576px;
    position: relative;
    /*margin-left: 120px;*/
  /*top: -20px;  */
  height: 460px;
  overflow: auto;
  }
  .navbar-logo > img{
    width: 60%;
}
}


@media (min-width: 201px) {
  #main-nav li .sub-menu {
    max-width: 576px;
    position: relative;
    margin-left: 40px;
  top: 0px;  
  /*display: none;*/
  /*height: 50%;   */
  }
  .navbar-logo > img{
    width: 6px;
    display: none;
}
.navbar-logo-xs{
    display: inline-block;
    width: 10px;
}
}
@media (min-width: 576px) {
  #main-nav li .sub-menu {
    max-width: 540px;
    position: relative;
    margin-left: 150px;
  top: 20px;  
  /*display: none;*/
  /*height: 50%;    */
  }
  .navbar-logo > img{
    width: 70%;
    text-indent: -200px;
    display: block;
}
.navbar-logo-xs{
    display: none;
}
}


@media (min-width: 768px) {
    #main-nav li .sub-menu {
        max-width: 1140px;
        position: absolute;
        top: 42px;  
        margin-left: 10px
      }
  .navbar-logo > img{
      width: 105%;
      display: block;
  }
  .navbar-logo-xs{
        display: none;
    }
}

@media (min-width: 992px) {
    #main-nav li .sub-menu {
        max-width: 1140px;
      position: absolute;
      top: 42px;  
      margin-left: 10px
      }
  .navbar-logo > img{
    width: 80%;
    display: block;
}
.navbar-logo-xs > img{
    display: none;
}
}

@media (min-width: 1200px) {
  #main-nav li .sub-menu {
    max-width: 1140px;
  position: absolute;
  top: 42px;  
  margin-left: 10px
  }
 
.navbar-logo > img{
    width: 44%;
    display: inline-block;
}
.navbar-logo-xs > img{
    display: none;
}
}
